*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.formAndTable{
    height: 80vh;
    display: flex;
    flex-direction: row;
    gap: 100px;
    background-color: #EEF4ED;
    padding: 200px;

}